* {
	font-size: 20px;
}

.barredenav {
	margin: auto;
	font-size: 70px !important;
}

.container {
	margin: auto;
	font-size: 32px;
}

.table {
	margin-top: 5%;
	float: none;
}

ul {
	 margin-top: 8%;
	 float: none;
}

.row {
	margin-top: 5%;
	float: none;
}