body {
	font-size:3rem;
}

h1 {
	font-size:5.5rem;
}

button {
	font-size: 3rem !important
}

a {
	font-size: 3rem !important;
}

.linkNav {
	font-size: 2rem !important
}

@media (min-width: 600px) {  
	body {
		font-size:1rem;
	} /*1rem = 16px*/
	h1 {
		font-size:3rem;
	} /*1rem = 16px*/
	button {
		font-size: 1rem !important
	}
	a {
		font-size: 1.5rem !important;
	}
	.linkNav {
		font-size: 1rem !important
	}
}