#contenue {
	margin-top: 2em; 
}

h1 {
	margin-bottom: 1em;
}

nav{
	font-size: 1.5em;
	border: 3px #f1f1f1 solid; 
}

a:visited {
	color: #B9BBBE;
	text-decoration: none;
}

a:hover {
	color: #a8aaad;
	text-decoration: none;
}

.espace{
	font-size: 1.2em;
	margin-bottom: 2em;
}

table {
	font-size: 1.2em;	
}
